.header{
    background-color: rgb(228, 228, 167);
    position: sticky;
    top: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-left: 140px;
    margin-right: 140px;
}
.menu a{
    text-decoration: none;
    margin-right: 30px;
    font-family: 'Roboto';
   font-size: 18px;
   color: rgb(115, 116, 11);
   
}
.logo{
    font-family: 'Roboto';
    color: rgb(164, 164, 7);
    font-size: 30px;
}
span{
    color: green;
}
.home{
    padding: 10px;
    border: 2px solid green;
}
.icon{
color: red;

}
.menu a:hover{
   color: green;

}